ion-slides {
  height: auto!important;
}
ion-card{
  box-shadow: #eb7338!important;
  border-color: #eb7338!important;
  border-block-color: #eb7338;
  border: 1px solid;
}
.nero{
  --background: #21211f;
}
.bianco{
  color: white;
}


