<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-row>
      <ion-img src="../assets/icon/logoConLinea.png" class="logo"></ion-img>
      <ion-title *ngIf="!isTablet">PRONTOAIUTO</ion-title>
      <ion-title *ngIf="isTablet" ><h3>PRONTOAIUTO</h3></ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row  *ngIf="isTablet" style="padding-top: 150px">
    <ion-col size="3"><div></div></ion-col>
    <ion-col size="6">
      <ion-item lines="none">
            <ion-label color="dark" class="ion-text-start; bold">
              <h1 style="font-weight: bold;">DISPONIBILE</h1>
            </ion-label>
            <ion-toggle style="zoom: 1.5" [(ngModel)]="isDisponibile"
                         color="success" (ionChange)="change($event)" >
            </ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size="3"><div></div></ion-col>
  </ion-row>
  <ion-row *ngIf="!isTablet" padding-top="20px">
    <ion-col size="2"><div></div></ion-col>
    <ion-col size="8">
      <ion-item lines="none">
        <ion-label color="dark" class="ion-text-start; bold">
          DISPONIBILE
        </ion-label>
        <ion-toggle  [(ngModel)]="isDisponibile"
                     color="success" (ionChange)="change($event)" >
        </ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col size="2"><div></div></ion-col>
  </ion-row>
  <ion-row  style="align-items: flex-start;padding-top: 70px">
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
    <ion-col *ngIf="!isTablet" size="8">
      <ion-text color="dark" class="bold" ><h6 style="text-align: center">Richiedi supporto</h6></ion-text>
    </ion-col>
    <ion-col *ngIf="isTablet" size="8">
      <ion-text color="dark" ><h2 style="text-align: center">Richiedi supporto</h2></ion-text>
    </ion-col>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col size="1" >
      <div>
      </div>
    </ion-col>
    <ion-col size="5" >
      <div >
        <ion-button id="carabinieriButton" (click)="richiediSupporto('Carabinieri')"  class="image-max" >
          <img src="../assets/icon/carabinieri.png">
        </ion-button>
        <ion-button id="poliziaButton" (click)="richiediSupporto('Polizia')" class="image-max" >
          <img src="../assets/icon/polizia.png">
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="5">
      <div>
        <ion-button id="pompieriButton" (click)="richiediSupporto('Pompieri')" class="image-max">
          <img src="../assets/icon/pompiere.png">
        </ion-button>
        <ion-button id="paramediciButton" (click)="richiediSupporto('Paramedici')" class="image-max">
          <img src="../assets/icon/paramedici.png">
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
