ion-content{
    --ion-background-color:#f4f3ef;
}

ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display:inline-block;
    width: 14%;
    padding-left: 12px;
}

.ion-label + .ion-toggle {
    margin-left: 50px!important;
}
