<ion-header>
  <ion-toolbar no-border-bottom color="tertiary">
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>GESTISCI RICHIESTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid style="padding: 10px;">
  <ion-row >
    <ion-col size="12">
      <ion-text  color="dark" class="bold">Tipologia: </ion-text>
      <ion-text> </ion-text>
      <ion-text  color="dark"> Incidente stradale</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="9">
      <div>
        <ion-text class="bold">Ulteriori informazioni: </ion-text>
        <ion-textarea
                disabled
                readonly
                value="Ci sono dei feriti!">
        </ion-textarea>
      </div>
    </ion-col>
    <ion-col size="3">
      <div>
        <ion-button (click)="presentModal()">
        <img src="../assets/icon/allegati.png" style="width : 100% ; height : 100%" ng-click="nextpage()" >
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
    <ion-col size="8">
      <ion-text color="dark" class="bold ion-text-center " >Richiedi suppporto a:</ion-text>
    </ion-col>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="5">
      <div>
        <ion-button id="carabinieriButton" (click)="_" class="image-max" >
          <img src="../assets/icon/carabinieri.png">
        </ion-button>
        <ion-button id="poliziaButton" (click)="_" class="image-max" >
          <img src="../assets/icon/polizia.png">
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="5">
      <div>
        <ion-button id="pompieriButton" (click)="_" class="image-max">
          <img src="../assets/icon/pompiere.png">
        </ion-button>
        <ion-button id="paramediciButton" (click)="_" class="image-max">
          <img src="../assets/icon/paramedici.png">
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2" >
      <div>
      </div>
    </ion-col>
    <ion-col size="8" style="text-align: center;">
      <ion-button (click)="showalert()" style=" width: 100%">RICHIEDI LINEA VERDE</ion-button>
    </ion-col>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
    <ion-col size="8" style="text-align: center;">
      <div>
        <ion-button (click)="navigate()" style=" width: 100%">VAI SUL POSTO </ion-button>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
