ion-content{

    --ion-background-color:#f4f3ef;
}

ion-grid{
    padding: 20px;
}

.image-max{
    height: 100%;
    width: 100%;
}

.logo{
    display:inline-block;
    width: 14%;
    padding-left: 12px;
}

.border-arancione{
    background-color: #ef8157!important;
    border: 1px solid;
}

